.help-block {
  color: red;
}

input.ng-invalid .ng-touched {
  border: 1px solid red !important;
}

.custom-row {
  flex: 1;
  display: flex;
  gap: 6px;
}

.no-left-padding {
  padding-left: 0;
}

.col-xs-8, .col-xs-2 {
  margin-bottom: 10px;
}
